@font-face {
    font-family: 'DejaVuSansMono';
    src: url('DejaVuSansMono.eot?#iefix') format('embedded-opentype'), url('DejaVuSansMono.woff') format('woff'), url('DejaVuSansMono.ttf') format('truetype'), url('DejaVuSansMono.svg#DejaVuSansMono') format('svg');
    font-weight: normal;
    font-style: normal;
}
